$primary: #bada55;
$bg: #2b222e;
$fg: #fff;

header,
main,
article,
aside,
footer {
  color: #222;
  background: #ddd;
}
.dark {
  header,
  main,
  article,
  aside,
  footer {
    color: #ddd;
    background: #383838;
    border-color: rgba(#fff, 0.2);
    article,
    textarea {
      background: lighten(#383838, 25%);
      color: #fff;
    }
  }
  main {
    background: lighten(#383838, 10%);
  }
}
input {
  border-radius: 4px;
}
