
  $hue: 225 !default; /* Blue */
  $accent-hue: 25; /* Orange */
  // $hue: 44;
  $text-color-normal: hsl($hue, 10%, 70%);
  $text-color-light:  hsl($hue, 15%, 80%);
  $text-color-richer: hsl($hue, 50%, 99%);
  $text-color-highlight: hsl($accent-hue, 70%, 45%);
  $link-color: hsl($hue, 90%, 70%);
  $accent-color: hsl($accent-hue, 100%, 70%);
  $error-color: rgb(240, 50, 50);
  $button-background: hsl($hue, 63%, 43%);
  $button-text-color: black;
  $background: hsl($hue, 20%, 20%);

$base03:    hsl($hue, 11, 16);
$base02:    hsl($hue, 11, 18);
$base01:    hsl($hue, 11, 24);
$base00:    hsl($hue, 11, 39);
$base0:     hsl($hue, 11, 54);
$base1:     hsl($hue, 11, 80);
$base2:     hsl($hue, 11, 92);
$base3:     hsl($hue, 11, 97);
$white:     #FFF;
$yellow:    hsl(45, 100, 35);
$orange:    hsl(25, 90, 40);
$red:       hsl(0, 70, 50);
$magenta:   hsl(331, 60, 50);
$violet:    hsl(237,45,60);
$blue:      hsl(205, 80, 80);
$cyan:      hsl(175,70,60);
$green:     hsl(70, 100, 60);

.App {
  background: $base2;
  color: $base03;
  h4 { color: darken($orange, 20%); }
  textarea, .Editor input { background: $base3; border: none;}
  nav, aside, header { background: $base2; }
  nav { border-right: 1px solid $base1; }
  aside { border-left: 1px solid $base1; }
  footer { background: $white; color: $base03; border-top: 1px solid $base2;}
  .Binder li+li {
    border-top: 1px solid $base1;
  }
}
.dark {
  background: $base03;
  color: $base2;
  h4 { color: lighten($orange, 30%); }
  textarea, .Editor input { background: $base01; color: $base3; border: none; }

  nav, aside, header { background: $base02; }
  nav { border-right: 1px solid $base03; }
  aside { border-left: 1px solid $base03; }
  footer { background: $base01; border-top: 1px solid $base03; color: $white}
  .Binder li+li {
    border-top: 1px solid $base01;
  }
}
span {
  xborder: 1px solid red;
}
