footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 30px;
  font-size: 12px;
  padding: 6px 1em 6px 1em;
  display: flex;
  flex-direction: row;
  span {
    margin: 0 0.7em;
  }
  svg {
    margin: 0 0.5em;
  }
  div {
    width: 20%;
    float: left;
  }
}
footer h4 {
  margin-top: 0;
  margin-bottom: .5rem
}
