.Binder {
  position: fixed;
  top:0;
  bottom: 30px;
  transition: all .2s ease;
  width: 280px;
  z-index: 1000;
}
.Binder h4 {
  margin-left: 1em;
}
.Binder ul {
  padding-left: 1em;
  width: 95%;
  list-style-type: none;
}
.Binder li {
  padding: 6px 6px 6px 0.5em;
}

.BinderList {
  top: 80px;
  position: absolute;
  width: 100%;
  bottom: 30px;
  overflow: scroll;
}

.BinderLogo {
  position: absolute;
  top: 0;
  height: 60px;
  width: 100%;
}
