---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "colors";
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro|Oswald|Sigmar+One');
@import "custom";
@import "pricing";
@import "home";

.bg-primary {
  background: var(--navbar-background) !important;
}
body {
  color: var(--foreground);
  font-family: "Source Sans pro";
}
footer {
  background: var(--primary-800);
  color: var(--primary-50);
  text-align: center;
}
.brand-font {
  font-family: "Sigmar One", sans-serif;
}
