$primary-50: #e5e8ea;
$primary-100: #bfc5cc;
$primary-200: #949eaa;
$primary-300: #697787;
$primary-400: #49596e;
$primary-500: #293c54;
$primary-600: #24364d;
$primary-700: #1f2e43;
$primary-800: #19273a;
$primary-900: #0f1a29;
$primary-A100: #68a2ff;
$primary-A200: #3582ff;
$primary-A400: #0263ff;
$primary-A700: #0058e8;

// $secondary-50: #e5eaea;
// $secondary-100: #bfcbcc;
// $secondary-200: #94a9aa;
// $secondary-300: #698687;
// $secondary-400: #496c6e;
// $secondary-500: #295254;
// $secondary-600: #244b4d;
// $secondary-700: #1f4143;
// $secondary-800: #19383a;
// $secondary-900: #0f2829;
// $secondary-A100: #68f8ff;
// $secondary-A200: #35f5ff;
// $secondary-A400: #02f3ff;
// $secondary-A700: #00dde8;

$secondary-50: #e9f0f6;
$secondary-100: #c8dae9;
$secondary-200: #a3c1da;
$secondary-300: #7ea8cb;
$secondary-400: #6295bf;
$secondary-500: #4682b4;
$secondary-600: #3f7aad;
$secondary-700: #376fa4;
$secondary-800: #2f659c;
$secondary-900: #20528c;
$secondary-A100: #c9e0ff;
$secondary-A200: #96c3ff;
$secondary-A400: #63a7ff;
$secondary-A700: #4998ff;

// $secondary-50: #e5eae9;
// $secondary-100: #bdcac8;
// $secondary-200: #92a6a4;
// $secondary-300: #668280;
// $secondary-400: #456864;
// $secondary-500: #244d49;
// $secondary-600: #204642;
// $secondary-700: #1b3d39;
// $secondary-800: #163431;
// $secondary-900: #0d2521;
// $secondary-A100: #64ffe5;
// $secondary-A200: #31ffdd;
// $secondary-A400: #00fdd3;
// $secondary-A700: #00e4be;
