#home {
  color: var(--foreground);
  background: var(--background) !important;
  h2 {
    @extend .display-4;
    text-align: center;
    color: var(--foreground);
    small {
      display: block;
      font-size: 50%;
    }
    font-family: Oswald, sans-serif;
  }
  #cross-domain {
    width: 100%;
  }
  .primary-bg {
    background: var(--jumbo-bg) !important;
    color: var(--jumbo-fg) !important;
    h2 {
      color: var(--jumbo-fg) !important;
    }
  }
  .jumbotron {
    min-height: 85vh;
    margin-top: -1em;
    background-size: cover;
    .display-4 {
      font-family: Oswald, sans-serif;
    }
    .container,  .row {
      height: 80vh;
    }
    text-shadow: 1px 1px 2px #000;
  }
  .fab {
    font-size: 2in;
    color: var(--feature-icon);
  }

  #value-proposition {
    color: var(--secondary-fg) !important;
    background: var(--secondary-bg) !important;
    h2 {
      color: var(--secondary-fg);
    }
    box-shadow: inset 0px 10px 5px rgba(0,0,0,0.1),
                inset 0px -10px 5px rgba(0,0,0,0.1);
  }
  .feature.card {
      background: var(--card-bg);
      color: var(--card-fg);
      border: none;
      width: 20em;
      margin: 1em;
      min-height: 450px;
      i {
        font-size: 0.5in;
        display: block;
        color: var(--card-icon);
        text-align: center;
        margin: 0.5em 0;
      }
  }
  section {
    padding: 0.5in 0;
  }
}
