#home {
  color: var(--primary-900) !important;
  h2 {
    @extend .display-4;
    text-align: center;
    small {
      display: block;
      font-size: 50%;
    }
  }
  #cross-domain {
    width: 100%;
  }
  .jumbotron {
    background: var(--primary-500);
    color: var(--secondary-A100) !important;
  }
  .fab {
    font-size: 2in;
    color: var(--secondary-500);
  }
  .far {
    font-size: 0.5in;
    display: block;
    color: var(--secondary-500);
    text-align: center;
    margin: 0.5em 0;
  }
  #value-proposition {
    background: var(--secondary-100);
    color: var(--primary-800);
    // box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0px 10px 5px rgba(0,0,0,0.1),
                inset 0px -10px 5px rgba(0,0,0,0.1);
  }
  .feature.card {
      background: var(--primary-50);
      color: var(--primary-900) !important;
      border: none;
      width: 20em;
      margin: 0 1em;
      min-height: 450px;
      .card-footer {
        background: var(--primary-50);
      }
  }
  section {
    padding: 0.5in 0;
  }
}
