$primary-50: #e9e7ee;
$primary-100: #c9c3d4;
$primary-200: #a59cb7;
$primary-300: #80749a;
$primary-400: #655685;
$primary-500: #4a386f;
$primary-600: #433267;
$primary-700: #3a2b5c;
$primary-800: #322452;
$primary-900: #221740;
$primary-A100: #9f7fff;
$primary-A200: #794cff;
$primary-A400: #5319ff;
$primary-A700: #4000ff;

$secondary-50: #fffdf9;
$secondary-100: #fff9f0;
$secondary-200: #fff5e6;
$secondary-300: #fff1dc;
$secondary-400: #ffeed5;
$secondary-500: #ffebcd;
$secondary-600: #ffe9c8;
$secondary-700: #ffe5c1;
$secondary-800: #ffe2ba;
$secondary-900: #ffddae;
$secondary-A100: #ffffff;
$secondary-A200: #ffffff;
$secondary-A400: #ffffff;
$secondary-A700: #ffffff;
