.inspector, .binder {
  background: var(--binder-bg);
  padding: 0 1em;
  max-width: 450px;
  min-width: 300px;
  color: var(--foreground);
}
.binder {
  padding: 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  div {
    width: 100%;
    padding-left: 4px;
  }
  h2 {
    font-size: 1.2rem;
    font-style:italic;
  }
  h3 {
    font-size: 1.0rem;
    text-transform: capitalize;
  }
  .item {
    border-radius: 2px;
    &.active {
      background: red;
    }
    background: var(--binder-bg);
    div {
      width: 100%;
      margin: 4px;
    }
    .shown {
      width: 100% !important;
      overflow-x: hidden;
      display: block;
    }
    margin: 4px 4px 4px 0;
    display:flex;
    justify-content: space-between;
  }
}
