.inspector, .binder {
  background: rgba(#000,0.2);
  padding: 0 1em;
  max-width: 450px;
}
.binder {
  padding: 4px;
  width: 25%;
  h2 {
    font-size: 1.1rem;
  }
  h3 {
    font-size: 1.0rem;
  }
  ul {
    margin-left: 4px;
  }
  li {
    list-style-type: none;
    margin: 4px 4px 4px 0;
    padding: 4px;
    display:flex;
    justify-content: space-between;
    span {
      cursor: pointer;
      max-width: 85%;
      overflow-x: hidden;
    }
  }
  .binder__section {
    li {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
