.binder {
  padding: 4px;
  h2 {
    font-size: 1.1rem;
  }
  h3 {
    font-size: 1.0rem;
  }
  ul {
    margin-left: 4px;
  }
  li {
    list-style-type: none;
    margin: 4px 4px 4px 0;
    padding: 4px;
    border: 1px solid red;
    display:flex;
    justify-content: space-between;
    span {
      background-color: yellow;
      cursor: pointer;
      max-width: 85%;
      overflow-x: hidden;
    }
  }
  .binder__section {
    li {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}