.editor {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  h2.section-title {
    margin: 10px auto;
    font-size: 20px;
    width: 100%;
    padding: 0 20%;
  }
  div.page {
    height: calc(100vh - 150px);
    min-width: 6in;
    width: 100%;
    border: 1px solid var(--foreground);
    margin: 2em auto;
    textarea {
      color: var(--foreground);
      outline: none;
      // background: orange;
      line-height: 1.8;
      font-size: 18px;
      border: none;
      width:  100%;
      padding: 0 20%;
      height: calc(100% - 4em);
      font-family: "Source Serif Pro", Cambria, Cochin, Georgia, serif;
    }
  }
  aside.inspector {
    max-width: 450px;
    width: 25%;
    textarea {
      border-radius: 3px;
      width: 100%;
      margin: 1em auto;
      outline: none;
      color: var(--foreground);
      background: var(--background);
      height: 10em;
    }
  }
}
textarea {
  overflow-y: scroll;
  box-sizing: border-box;
  resize: none;
  background: none;
}
