.sidebar {
  background: rgba(#000,0.5);
  width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  li {
    margin: 2em auto;
    width: 24px;
    list-style-type: none;
  }
  svg {
    font-size: 24px;
    color: $body-fg;
  }
}
