
@import 'variables';
@import 'sidebar';
@import 'editor';
@import 'binder';
@import 'header';
@import 'footer';
@import 'react-context-menu';

html, body {
  box-sizing: border-box;
  min-height: 100%;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.sr-only {
  display: none;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  font-smooth: always;
  -webkit-font-smoothing: antialised;
  -moz-osx-font-smoothing: antialised;
  min-width: 600px;
}
.App {
  display: grid;
  grid-template-rows: 60px auto 20px;
  width: 100vw;
  height: 100vh;
  grid-template-areas:
    "header"
    "main"
    "footer";
}
ul {
  margin: 0;
  padding: 0;
}
main {
  display: flex;
  grid-area: main;
}
