
@import 'variables';
@import 'sidebar';
@import 'editor';
@import 'binder';
@import 'header';
@import 'react-context-menu';

html, body {
  box-sizing: border-box;
  min-height: 100%;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: $body-bg;
  font-family:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: #222;
  font-smooth: always;
  -webkit-font-smoothing: antialised;
  -moz-osx-font-smoothing: antialised;
  min-width: 600px;
}
.App {
  display: grid;
  grid-template-rows: 60px auto 20px;
  width: 100vw;
  height: 100vh;
  grid-template-areas:
    "header"
    "main"
    "footer";
}
ul {
  margin: 0;
  padding: 0;
}


header {
  border-bottom: 1px solid #877aff;
  background-color: $generic-bg;
  grid-area: header;
}
main {
  display: flex;
  grid-area: main;
}
footer {
  background-color: $generic-bg;
  grid-area: footer;
  font-size: 16px;
}

.binder {
  background-color: darken($body-bg, 40%);
  width: 250px;
}
.editor {
  background-color: #ffadce;
  flex-grow: 1
}