<section id="cta" class="lead">
  <h2>Join Our Beta</h2>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <p>We will be working with our beta customers as we build out Verkilo's core features.</p>
      </div>
      <div class="col-sm">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1" checked>I am an editor</label>
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1" checked>I am an author</label>
          </div>
          <button type="submit" class="btn btn-primary">Sign up for the Beta</button>
        </form>
      </div>
    </div>
  </div>
</section>
