<section id="cross-platform" class="secondary-bg">
  <div class="container">
    <div class="row">
      <h2 class="col">Same Powerful Software on All Platforms</h2>
    </div>
    <div class="row">
        <div class="col-sm text-center">
          <p><i class="fab fa-microsoft"></i></p>
          <p>Microsoft</p>
        </div>
        <div class="col-sm text-center">
          <p><i class="fab fa-apple"></i></p>
          <p>MacOS / OSX</p>
        </div>
        <div class="col-sm text-center">
          <p><i class="fab fa-android"></i></p>
          <p>Android / Linux</p>
        </div>
    </div>
    <div class="row">
      <div class="col-md-8 mx-auto">
        <p class="text-center lead">Tired of buggy software with all the best features for only one operating system?</p>
        <p class="text-center lead">
          Verkilo uses the same code base on all major operating systems and platforms. If it works on Mac, it will work on Windows.
        </p>
        <p class="text-center lead">Stop waiting impatiently while other authors & editors get the latest and greatest because they are on the company's prefered OS.</p>
      </div>
    </div>
  </div>
</section>
