<section id="features" class="secondary-bg">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>
          <small>EXCLUSIVE FEATURES</small>
          A Complete Plaform<br>for Your Self-Publisher Needs
        </h2>
      </div>
    </div>
    <div class="row">
        <div class="feature card">
          <div class="card-body" >
            <h3 class="card-title"><i class="far fa-tasks"></i>Cross-Platform Manuscript Project Manager</h3>
            <p class='card-text'>Manage your entire manuscript from one easy-to-use interface on the web, desktop or mobile device. Verkilo supports documents from a blog post to a multi-volumn book series.</p>
          </div>
          <div class="card-footer">
            <p class='text-center'><a class="btn btn-secondary" href="#">Learn more</a></p>
          </div>
        </div>
        <div class="feature card">
          <div class="card-body">
            <h3 class="card-title"><i class="far fa-mind-share"></i>Work with<br>Editor Feedback <br>from Verkilo</h3>
            <p class='card-text'>With Verkilo, you can work with your editor from the same application. No need to export to Microsoft Word to send to the editor, then spend extra time to incorporate their feedback.</p>
          </div>
          <div class="card-footer">
            <p class='text-center'><a class="btn btn-secondary" href="#">Learn more</a></p>
          </div>
        </div>
        <div class="feature card">
          <div class="card-body">
            <h3 class="card-title"><i class="far fa-shipping-fast"></i>On-Demand Distribution-Ready Export</h3>
            <p class='card-text'>When you're ready, Verkilo professionally formats your manuscript for print or electronic book distribution&mdash;perfect for Kindle Direct Publisher.</p>
          </div>
          <div class="card-footer">
            <p class='text-center'><a class="btn btn-secondary" href="#">Learn more</a></p>
          </div>
        </div>
    </div>
  </div>
</section>
