<section class="jumbotron">
  <div class="container">
    <div class="row  align-items-center">
      <div class="col-md">
        <img src="/assets/images/verkilo-cross-platform.png" id="cross-domain">
      </div>
      <div class="col-md">
        <p class="display-4 text-center">Take Your Writing<br>From Idea to Published <br>in One App</h1>
        <p class='lead text-center'>
          Verkilo is the only app that lets you work on all of your writing projects from any computer, any where&hellip;<br>including working with your editor.
        </p>
      </div>
    </div>
  </div>
</section>
