<section id="value-proposition" class=''>
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <h2>Find the Right Book Editor to Collaborate With</h2>
          <p class="text-center lead">
            We know that finding the right editor is hard. There are so many to choose from, and they all have their preferred genre and audiences. We take the guesswork out by recommending editors that match up with your target audience and genre&mdash;and have time available to work with you. Once you two connect, you can work together from the same document to hone your work in progress to a highly-polished book.
          </p>
        </div>
      </div>
    </div>
</section>
